// .app_bar {
//     border-bottom: 1px solid lightgray;
//     position: sticky;
//     background:none;
    
// }
.app_bar {
    .logo_name{
        font-size: 3rem;
        font-family: GT-Super-Display-Trial-Regular;
        color: #fff;
        text-shadow: 4px 4px 0px #07A4B5, 7px 9px 0px rgba(0, 0, 0, 0.2);
    }
    .login_btn {
        color: #FFF;
        font-size: 1.5rem;
        font-family: GT-Super-Display-Trial-Regular;

    }
    .login_btn:hover {
        border-bottom: .1rem solid white
    }
}
.header_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20vw;
    margin-right: 50px;


}

.header_right > p{
    font-weight: 500;
}

.header_right_2{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 999px;
    padding: 2px 7px 2px 7px;

}

@media screen and (max-width: 770px) {
    .logo {
        height: 70px;
    }
}