
.app_bar {
   
    .logo_name{
        font-size: 3rem;
        font-family: GT-Super-Display-Trial-Regular;
        color: #fff;
        text-shadow: 4px 4px 0px #07A4B5, 7px 9px 0px rgba(0, 0, 0, 0.2);
    }
    .login_btn {
        color: #FFF;
        font-size: 1.5rem;
        font-family: GT-Super-Display-Trial-Regular;

    }
    .login_btn:hover {
        border-bottom: .1rem solid white
    }
}

@media screen and (max-width: 770px) {
    .app_bar{
        margin-top: 15px;
        .logo {
            height: 70px;
        }
    }
}

@media screen and (max-width: 391px) {
    .app_bar{
        .logo_name {
            font-size:2.5rem;
        }
    
    }
}