@import url("https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");

.detailpage-container {
  background-image: linear-gradient(180deg, #07a4b5 1%, #c9eff9, #f9fcfd);
  .banner {
    height: 150px;
  }
  .title {
    font-size: 2rem;
    font-weight: 600;
  }
  padding: 1%;
  .images-container {
    margin: 20px auto 0;
    width: 680px;
    height: 550px;
    img {
      width: 680px;
      height: 510px;
      object-fit: cover;
      border-radius: 3%;
    }
  }
  .description {
    padding: 2%;
  }
  .address-container {
    display: flex;
    align-items: center;
    font-style: italic;
    img {
      height: 25px;
    }
  }
  .section1 {
    background-color: #fff;
    .section1_image {
      background-size: cover;
      background-position: center;
      height: 80vh;
    }
    .section1_title {
      background: #fff;
      position: absolute;
      max-width: 50rem;
      height: 12rem;
      padding: 0 5rem;
      top: 65%;
      opacity: 0.9;
      color: rgb(14, 104, 139);
      h4 {
        font-size: 50px;
        font-family: "Goudy Bookletter 1911", serif;
      }
    }
  }
  .section2 {
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .section2_image {
      background-size: cover;
      background-position: center;
      z-index: 10;
    }
    .section2_description {
      background-color: #07a4b5;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #f9fcfd;
      padding-left: 1rem;
      font-family: "Cutive Mono", monospace;
      .section2_descriptionDetail {
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .section2_description_address {
        text-decoration: none;
        color: #f9fcfd;
        font-family: "Cutive Mono", monospace;
      }
      .section2_description_address:hover {
        text-decoration: underline;
      }
    }
    .section2_title1 {
      position: absolute;
      z-index: 20;
      font-family: "Major Mono Display", monospace;
      font-size: 6rem;
      color: #07a4b5;
    }
    .section2_title2 {
      position: absolute;
      z-index: 20;
      transform: translate(16rem, 13rem);
      font-family: "Major Mono Display", monospace;
      font-size: 6rem;
      color: #ffb95e;
    }
  }

  .section3 {
    background-color: #fed8a7;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .section3_image {
      background-size: cover;
      background-position: center;
      border-radius: 50%;
      z-index: 10;
    }
    .section3_description {
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      .section3_description_icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.3rem;
      }
      .breakfast,
      .bbq {
        transform: translate(-2rem);
      }
    }
    .title {
      position: absolute;
      z-index: 20;
      transform: translateY(-22rem);
      font-family: "Teko", sans-serif;
      font-size: 3.5rem;
      letter-spacing: 0.18rem;
    }
  }
  .section4 {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
  }
  .section4:hover {
    .section4_image:active {
      transform: scale(1.5);
      transform-origin: 20% 20%;
      transition: all 1s;
      z-index: 25;
    }
  }
}
.form_booking {
  position: absolute;
  max-width: 58rem;
  background-color: whitesmoke;
  box-shadow: 24px;
  padding: 50px 100px;
  .title_form_booking {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
}

@media screen and (max-width: 770px) {
  .form_booking {
    width: 36rem;
    top: 20%;
  }
  .search_booking1 {
    display: none;
  }
  .search_booking2 {
    width: 730px;
  }
  .banner__search {
    width: 730px;
    // position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 100;
    align-items: center;
  }
  .banner__searchButton {
    background-color: #ffb95e !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: #fff !important;
    width: 100%;
  }
  .detail_section {
    padding-right: 0px;
  }
  .section2_image {
    transform: translate(9rem, -10rem);
    height: 20rem;
    width: 26rem;
  }
  .section2_description {
    transform: translate(-9rem, 10rem);
    height: 20rem;
    width: 26rem;
    font-size: 1.1rem;
  }
  .section2_title1 {
    transform: translate(-15rem, -13rem) rotate(-90deg);
  }
  .section3_image,
  .section3_description {
    height: 25rem;
    width: 25rem;
  }
  .section3:hover {
    .section3_image {
      transform: translateX(40%);
      transition: all 1s ease;
    }
    .section3_description {
      transform: translateX(-40%);
      transition: all 1s ease;
    }
  }
  .section4_image {
    background-size: cover;
    background-position: center;
    height: 15rem;
    width: 15rem;
    position: absolute;
  }
  .image1 {
    transform: translate(-8rem, -8rem);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index: 20;
  }
  .image2 {
    transform: translate(8rem, -8rem);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index: 15;
  }
  .image3 {
    transform: translate(8rem, 8rem);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    z-index: 10;
  }
  .image4 {
    transform: translate(-8rem, 8rem);
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    z-index: 5;
  }
  .section4:hover {
    .section4_image {
      height: 12rem;
      width: 20rem;
      transition: all 1s;
    }
    .image1 {
      transform: translate(-11rem, -7rem);
      border-top-right-radius: 0%;
      border-bottom-right-radius: 0%;
      border-right: 7px solid #ffb95e;
    }
    .image2 {
      transform: translate(11rem, -7rem);
      border-bottom-left-radius: 0%;
      border-bottom-right-radius: 0%;
      border-bottom: 7px solid #ffb75e;
    }
    .image3 {
      transform: translate(11rem, 7rem);
      border-top-left-radius: 0%;
      border-bottom-left-radius: 0%;
      border-left: 7px solid #ffb75e;
    }
    .image4 {
      transform: translate(-11rem, 7rem);
      border-top-right-radius: 0%;
      border-top-left-radius: 0%;
      border-top: 7px solid #ffb95e;
    }
  }
}

@media screen and (min-width: 771px) {
  .form_booking {
    width: 50rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .search_booking1 {
    display: flex;
    justify-content: center;
  }
  .search_booking2 {
    display: none;
  }
  .banner__search {
    display: none;
  }
  .detail_section {
    padding-right: 80px;
  }
  .section2_image {
    height: 25rem;
    width: 35rem;
    transform: translate(14rem, -8rem);
  }
  .section2_description {
    height: 25rem;
    width: 35rem;
    transform: translate(-13rem, 8rem);
    font-size: 1.1rem;
  }
  .section2_title1 {
    transform: translate(-18rem, -13rem);
  }
  .section3_image,
  .section3_description {
    height: 31.5rem;
    width: 31.5rem;
  }
  .section3:hover {
    .section3_image {
      transform: translateX(40%);
      transition: all 1s ease;
    }
    .section3_description {
      transform: translateX(-40%);
      transition: all 1s ease;
    }
  }
  .section4_image {
    background-size: cover;
    background-position: center;
    height: 25rem;
    width: 25rem;
    position: absolute;
  }
  .image1 {
    transform: translate(-8rem, -8rem);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index: 20;
  }
  .image2 {
    transform: translate(8rem, -8rem);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index: 15;
  }
  .image3 {
    transform: translate(8rem, 8rem);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    z-index: 10;
  }
  .image4 {
    transform: translate(-8rem, 8rem);
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    z-index: 5;
  }
  .section4:hover {
    .section4_image {
      height: 22rem;
      width: 32rem;
      transition: all 1s;
    }
    .image1 {
      transform: translate(-18rem, -13rem);
      border-top-right-radius: 0%;
      border-bottom-right-radius: 0%;
      border-right: 7px solid #ffb95e;
    }
    .image2 {
      transform: translate(18rem, -13rem);
      border-bottom-left-radius: 0%;
      border-bottom-right-radius: 0%;
      border-bottom: 7px solid #ffb95e;
    }
    .image3 {
      transform: translate(18rem, 13rem);
      border-top-left-radius: 0%;
      border-bottom-left-radius: 0%;
      border-left: 7px solid #ffb95e;
    }
    .image4 {
      transform: translate(-18rem, 13rem);
      border-top-right-radius: 0%;
      border-top-left-radius: 0%;
      border-top: 7px solid #ffb95e;
    }
  }
}

@media screen and (max-width: 391px) {
  .detailpage-container {
    .section1 {
      .section1_title {
        width: 286px;
        padding: 0 2.5rem;
        h4 {
          font-size: 35px;
        }
      }
    }

    .form_booking {
      width: 12rem;
      top: 20%;
    }
    .search_booking1 {
      display: none;
    }
    .search_booking2 {
      width: 320px;
    }
    .banner__search {
      width: 320px;
    }
    .banner__searchButton {
      background-color: #ffb95e !important;
      font-weight: 900 !important;
      text-transform: inherit !important;
      color: #fff !important;
      width: 320px;
    }
    .detail_section {
      padding-right: 0px;
    }
    .section2_image {
      transform: translate(0rem, -8rem);
      height: 15rem;
      width: 20rem;
    }
    .section2_description {
      transform: translate(0rem, 10rem);
      height: 15rem;
      width: 20rem;
      font-size: 0.5rem;
    }
    .section2_title1,
    .section2_title2 {
      display: none;
    }
    .section3_image,
    .section3_description {
      height: 20rem;
      width: 20rem;
    }
    .section3:hover {
      .section3_image {
        transform: translateY(-40%);
        transition: all 1s ease;
      }
      .section3_description {
        transform: translateY(40%);
        transition: all 1s ease;
      }
    }
    .section4:hover {
      .section4_image {
        height: 10rem;
        width: 18rem;
        transition: all 1s;
      }
      .image1 {
        transform: translate(0rem, -18rem);
        border-top-right-radius: 0%;
        border-bottom-right-radius: 0%;
        border-right: none;
        border-bottom: 7px solid #ffb75e;
      }
      .image2 {
        transform: translate(0rem, -7rem);
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
        border-bottom: 7px solid #ffb75e;
      }
      .image3 {
        transform: translate(0rem, 4rem);
        border-top-left-radius: 0%;
        border-bottom-left-radius: 0%;
        border-left: none;
        border-bottom: 7px solid #ffb75e;
      }
      .image4 {
        transform: translate(0rem, 15rem);
        border-top-right-radius: 0%;
        border-top-left-radius: 0%;
        border-top: none;
        border-bottom: 7px solid #ffb75e;
      }
    }
    .section4_image {
      background-size: cover;
      background-position: center;
      height: 10rem;
      width: 10rem;
      position: absolute;
    }
    .image1 {
      transform: translate(-4rem, -4rem);
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
      z-index: 20;
    }
    .image2 {
      transform: translate(4rem, -4rem);
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      z-index: 15;
    }
    .image3 {
      transform: translate(4rem, 4rem);
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      z-index: 10;
    }
    .image4 {
      transform: translate(-4rem, 4rem);
      border-top-right-radius: 50%;
      border-top-left-radius: 50%;
      z-index: 5;
    }
  }
}
