.search {
    background-color: #FFF;
    width: 300px;
    padding: 10px;
    z-index: 10;
    border: 1px solid #C9EFF9;
    box-shadow: 2px 2px 10px lightgray;
    .input_search{
        display: flex;
        flex: 1;
        align-items: center;
        padding: 10px;
        height: 30px;
        border: 1px solid #C9EFF9;
        border-radius: 999px;
        margin: 25px 0;
        input {
            border: none;
            width: 220px; 
            padding: 10px;
            outline: none;
        }
    }
    .date_range {
        font-size: .84rem;
        border-radius: 10px;
        background-color: #C9EFF9;
        width: 300px;
        .rdrDateDisplayWrapper {
            border-radius: 10px;
            background-color: #C9EFF9;
            
        }
        .rdrMonth {
        width: inherit;
        };
        
    }
    h3 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 280px;
        padding: 10px;
        background-color: rgb(248 248 248);
        .num_guests {
            border: 1px solid #C9EFF9;
            width: 100px;
        }

    }
}

.search >

.search > input {
    width: 310px;
    padding: 20px;
    // position: absolute;
    // left: 0;
    height: 30px;
    // top: 390px;
    border: none;
  }
  
.search > input:focus {
    outline-width: 0;
}

.search > button {
    
    text-transform: inherit !important;
    background-color: #07A4B5;
    color: white;
    width: 300px;
    line-height: 1.75rem;
    border-radius: 4px;
    border: none;
    padding: 5px 0;
  }

.search > button:hover {
    background-color: white;
    color: #07A4B5;
}


