.banner{
    background: url('../../images/coverImage4.jpg') center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    position: relative;
}
.banner:hover {
    filter: saturate(180%);
    
}


.banner__search {
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.banner__searchButton {
  background-color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color: #e55039 !important;
  border: none;
//   height: 35px;
  line-height: 1.75;
  font-size: 0.875rem;
  padding: 5px 15px;
}

@media screen and (max-width:"400px") {
    .banner {
        height: 20vh;
    }
    
}
@media screen and (max-width:"770px") {
    .banner {
        height: 50vh;
    }
    
}